<?xml version="1.0" encoding ="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="client" class="part1.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Petr"/>
    </bean>
    <bean id="app" class="part1.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>
    <bean id="eventLogger" class="part1.ConsoleEventLogger"/>

</beans>