<?xml version="1.0" encoding ="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="client" class="part2.Client">
        <constructor-arg value="1"/>
        <constructor-arg value="Petr"/>
    </bean>
    <bean id="app" class="part2.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="eventLogger"/>
    </bean>

    <bean id="eventLogger" class="part2.ConsoleEventLogger">
        <constructor-arg ref="event"/>
    </bean>

    <bean id="event" class="part2.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.time.LocalDateTime"
                  factory-method="now"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.time.format.DateTimeFormatter" factory-method="ofPattern">
                <constructor-arg value="dd MM YYYY hh:mm:ss"/>
            </bean>
        </constructor-arg>
    </bean>
</beans>